{% extends 'base.html' %}
{% block upload %}
{% load staticfiles %}
<style>

.container{
  font-size: 2rem;
  padding-top: 50px;
  color: white;
}

body{
  background-image: url("{% static 'images/black.gif' %}"); no-repeat center center fixed;
  background-size: cover;


}

</style>
<div class="container">
<div class="row">
{% if object_list %}
{% for object in object_list %}
<span>{{ object.subject }}:
<a href="{{ object.link }}" target="_blank" >{{ object.link }}</a></span>
{% endfor %}
</div>

{% endif %}
</div>
{% endblock %}
